<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create New Password</title>

<link th:replace="admin/layout/assets :: css" />
</head>
<body>

	<div id="sign-in" class="d-flex align-items-center">
		<form th:action="@{/auth/new-password}" method="post" class="row g-3 signin"
			th:object=${user}>
			<h2>Create New Password</h2>
			<div class="alert alert-success" role="alert" th:text="${error}"
				th:if="${error}"></div>
			<div class="alert alert-success" role="alert" th:text="${success}"
				th:if="${success}"></div>
			
			<input type="hidden" th:field="*{id}" />
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">New
					Password</label> <input type="password" class="form-control"
					th:field="*{password}" placeholder="Password" required> <small
					class="text-danger" th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}" ></small>
			</div>

			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Confirm
					Password</label> <input type="password" class="form-control"
					th:field="*{confirmPassword}" placeholder="Confirm Password" required>
				<small class="text-danger"
					th:if="${#fields.hasErrors('confirmPassword')}"
					th:errors="*{confirmPassword}"></small>
			</div>

			<div class="d-grid gap-2">
				<button class="btn form-btn" type="submit">Change Password</button>
			</div>

		</form>
		<div class="image">
			<img th:src="@{/admin/images/clay-banks-qW_k6x5OfRc-unsplash.jpg}">
		</div>
	</div>

</body>
</html>
