<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Change Password</title>
	<link th:replace="admin/layout/assets :: css" />
</head>

<body>
	<div id="container">
		<!-- side navbar here  -->
		<div th:replace="admin/layout/assets :: sideBar" ></div>
		<div id="content_wrap">
			<div class="content_box">
				<!-- header here  -->
				<div th:replace="admin/layout/assets :: header" ></div>

			</div>
			<div id="sub_content">
				<h5 class="fw-bold">Profile ChangePassword</h5>
				<div class="row justify-content-center">
					<div class="col-lg-8 bg-gray p-5 mt-5 rounded-5">
					<div class="alert alert-success" role="alert" th:text="${success}"
					th:if="${success}"></div>

						<div class="alert alert-danger" role="alert" th:text="${error}"
							th:if="${error}"></div>
							
						<form th:action="@{/account/changePassword}" th:object=${user} method="post">
							<input type="hidden" th:field="*{id}" />
							<div class="mb-3">
								<label for="Current Password" class="form-label">Current Password</label>
								<input type="password" class="form-control" name="currentPassword" placeholder="Enter Current Password" required/>
							</div>
							<div class="mb-3">
								<label for="New Password" class="form-label">New Password</label>
								<input type="password" class="form-control" name="password" placeholder="Enter New Password" required />
								
							</div>
							<div class="mb-3">
								<label for="Confirm Password" class="form-label">Confirm Password</label>
								<input type="password" class="form-control" name="confirmPassword" placeholder="Enter New Password" required />
								
							</div>
							<div class=" text-end">
								<a th:href="@{/admin/home}" class="btn btn-secondary ">Cancel</a>
								<button type="submit" class="btn btn-primary ">Update</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
		<!-- js   -->
		<script th:replace="admin/layout/assets :: js" ></script>
</body>

</html>