<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Profile</title>
<link th:replace="admin/layout/assets :: css" />
</head>

<body>
	<div id="container">
		<!-- side navbar here  -->
		<div th:replace="admin/layout/assets :: sideBar"></div>
		<div id="content_wrap">
			<div class="content_box">
				<!-- header here  -->
				<div th:replace="admin/layout/assets :: header"></div>

			</div>
			<div id="sub_content">
				<h5 class="fw-bold">Profile</h5>
				<div class="row justify-content-center">
					<div class="col-lg-8 bg-gray p-5 mt-5 rounded-5">
						<form action="#" method="POST" th:object="${user}">
							<input type="hidden" th:field="*{id}" />
							<div class="mb-3">
								<label for="profileName" class="form-label">Name</label> <input
									type="text" class="form-control" th:field="*{name}"  placeholder="Enter Name" />
							</div>
							<div class="mb-3">
								<label for="profileEmail" class="form-label">Email</label> <input
									type="email" class="form-control" th:field="*{email}" placeholder="Enter Email" />
							</div>
							<div class=" text-end">
								<a th:href="@{/admin/home}" class="btn btn-secondary ">Cancel</a>
								<button type="submit" class="btn btn-primary ">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- js   -->
	<script th:replace="admin/layout/assets :: js"></script>
</body>

</html>