<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Dashboard</title>

<link th:replace="admin/layout/assets :: css" />
</head>

<body>
	<div id="container">
		<!-- side navbar   -->
		<link th:replace="admin/layout/assets :: sideBar" />

		<div id="content_wrap">
			<div class="content_box">
				<!-- header  -->
				<link th:replace="admin/layout/assets :: header" />

				
				<div id="group3">
					
					<div class="rectangle_2">
						<div>
							<a href="#"> <span><i class="fa-solid fa-chart-column"></i></span>
								<div>
									42,34%<span>Bounce Rate</span>
								</div>
							</a>
						</div>
						<div>
							<a href="#"> <span><i
									class="fa-solid fa-calendar-days"></i></span>
								<div>
									42,34%<span>Pages per visit</span>
								</div>
							</a>
						</div>
						<div>
							<a href="#"> <span><i class="fa-solid fa-user"></i></span>
								<div>
									326.60K<span>Total Monthly Visit</span>
								</div>
							</a>
						</div>
						<div>
							<a href="#"> <span><i
									class="fa-regular fa-hourglass-half"></i></span>
								<div>
									00:03:27<span>Avg.Visit Duration</span>
								</div>
							</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>

	<!-- js   -->
	<link th:replace="admin/layout/assets :: js" />
</body>

</html>