<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div th:fragment="css">
		<link rel="stylesheet" th:href="@{/admin/css/bootstrap.min.css}" />
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

		<link rel="stylesheet" th:href="@{/admin/css/style.css}" />
	</div>
	<div th:fragment="header">
		<div class="content_1">
			<div
				class="team d-flex gap-3 align-items-center justify-content-center ">
				<i class="fa-sharp fa-solid fa-user-secret"></i>
				<div class="">
					<h5>Dashboard</h5>
				</div>
			</div>
			<div class="admin d-flex ">
				<i class="fa-solid fa-circle-user"></i>
				<div class=" dropdown">
					<button class="btn  dropdown-toggle" data-bs-toggle="dropdown"
						aria-expanded="false" sec:authentication="principal.username"></button>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" th:href="@{/account/profile}">Profile</a></li>
						<li><a class="dropdown-item"
							th:href="@{/account/changePassword}">Change Password</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
	<div th:fragment="sideBar">
		<div id="group_1">
			<div class="concured_ttl d-flex align-items-center">
				<a th:href="@{/admin/home}"><i class="fa-solid fa-store"></i><span>ACE
						SHOP</span></a>
			</div>
			<div id="list_wrap">
				<div class="top_list">
					<!-- <ul>
						<li><a th:href="@{/admin/home}"
							th:class="${servletPath == '/admin/home'} ? 'active' : ''"><i
								class="fa-solid fa-gauge"></i>Dashboard</a></li>
						<li><a th:href="@{/category}"
							th:class="${servletPath == '/category'} ? 'active' : ''"><i
								class="fa-solid fa-list-check"></i>Category</a></li>
						<li><a th:href="@{/subcategory}"
							th:class="${servletPath == '/subcategory'} ? 'active' : ''"><i
								class="fa-solid fa-table-list"></i>Sub Category</a></li>
						<li><a th:href="@{/brand}"
							th:class="${servletPath == '/brand'} ? 'active' : ''"><i
								class="fa-brands fa-slack"></i>Brand</a></li>
						<li><a th:href="@{/product}"
							th:class="${servletPath == '/product'} ? 'active' : ''"><i
								class="fa-brands fa-product-hunt"></i>Products</a></li>
						<li><a th:href="@{/paymenttype}"
							th:class="${servletPath == '/paymenttype'} ? 'active' : ''"><i
								class="fa-brands fa-gratipay"></i>Payment Type</a></li>
					</ul> -->

					<div>
						<a th:href="@{/admin/home}"
							th:class="${servletPath == '/admin/home'} ? 'active' : ''"><i
							class="fa-solid fa-gauge"></i>Dashboard</a>
					</div>

					<div class="dropdown" id="shop">
						<a class="btn " data-bs-toggle="collapse" href="#adminManage"
							role="button" aria-expanded="true"
							aria-controls="collapseExample">
							<i class="fa-solid fa-shop"></i>Shop Management <i
							class="fa fa-caret-down"></i>
						</a>
					</div>

					<div class="collapse" id="adminManage">
						<ul class="list-group bg-primary-subtle bg-opacity-75">
							<li><a
								th:class="${servletPath == '/category'} ? 'active' : ''"
								class="dropdown-item" th:href="@{/category}"> <i
									class="fa-solid fa-list-check"></i>Category
							</a></li>
							<li><a
								th:class="${servletPath == '/subcategory'} ? 'active' : ''"
								class="dropdown-item" th:href="@{/subcategory}"> <i
									class="fa-solid fa-table-list"></i>Sub Category
							</a></li>
							<li><a th:class="${servletPath == '/brand'} ? 'active' : ''"
								class="dropdown-item" th:href="@{/brand}"> <i
									class="fa-brands fa-slack"></i>Brand
							</a></li>
							<li><a
								th:class="${servletPath == '/product'} ? 'active' : ''"
								class="dropdown-item" th:href="@{/product}"> <i
									class="fa-brands fa-product-hunt"></i>Products
							</a></li>
							<li><a
								th:class="${servletPath == '/paymenttype'} ? 'active' : ''"
								class="dropdown-item" th:href="@{/paymenttype}"> 
								<i class="fa-solid fa-file-invoice-dollar"></i>Payment Type
							</a></li>
						</ul>
					</div>
					
					<div class="dropdown" id="order">
						<a class="btn " data-bs-toggle="collapse" href="#orderManage"
							role="button" aria-expanded="true"
							aria-controls="collapseExample"> 
							<i class="fa-solid fa-cart-plus"></i>Order Management<i
							class="fa fa-caret-down"></i>
						</a>
					</div>

					<div class="collapse" id="orderManage">
						<ul class="list-group bg-primary-subtle bg-opacity-75">
							<li><a
								th:class="${servletPath == '/order/all'} ? 'active' : ''"
								class="dropdown-item" th:href="@{/order/all}"><i
								 class="fa-solid fa-cart-flatbed-suitcase"></i>All Orders
							</a></li>
							<li><a
								th:class="${servletPath == '/order/pending'} ? 'active' : ''"
								class="dropdown-item" th:href="@{/order/pending}"><i 
								class="fa-regular fa-hourglass-half"></i>Pending Orders
							</a></li>
							<li><a th:class="${servletPath == '/order/success'} ? 'active' : ''"
								class="dropdown-item" th:href="@{/order/success}"><i 
								class="fa-solid fa-check-double"></i>Success Orders
							</a></li>
							<li><a th:class="${servletPath == '/order/reject'} ? 'active' : ''"
								class="dropdown-item" th:href="@{/order/reject}"><i 
								class="fa-solid fa-rectangle-xmark"></i>Reject Orders
							</a></li>
						</ul>
					</div>
					
					<div class="dropdown" id="payment">
						<a class="btn " data-bs-toggle="collapse" href="#paymentManage"
							role="button" aria-expanded="true"
							aria-controls="collapseExample"> 
							<i class="fa-solid fa-cash-register"></i>Payments History<i
							class="fa fa-caret-down"></i>
						</a>
					</div>

					<div class="collapse" id="paymentManage">
						<ul class="list-group bg-primary-subtle bg-opacity-75">
							<li><a
								th:class="${servletPath == '/payment/all'} ? 'active' : ''"
								class="dropdown-item" th:href="@{/payment/all}"> <i 
								class="fa-solid fa-credit-card"></i>All Payments
							</a></li>
							<li><a
								th:class="${servletPath == '/payment/pending'} ? 'active' : ''"
								class="dropdown-item" th:href="@{/payment/pending}"><i 
								class="fa-solid fa-spinner"></i>Pending Payments
							</a></li>
							<li><a th:class="${servletPath == '/payment/success'} ? 'active' : ''"
								class="dropdown-item" th:href="@{/payment/success}"><i
								 class="fa-regular fa-thumbs-up"></i>Success Payments
							</a></li>
							<li><a th:class="${servletPath == '/payment/reject'} ? 'active' : ''"
								class="dropdown-item" th:href="@{/payment/reject}"><i 
								class="fa-solid fa-comment-slash"></i>Reject Payments
							</a></li>
						</ul>
					</div>
					
					<div>
						<a th:href="@{/manageuser}"
							th:class="${servletPath == '/manageuser'} ? 'active' : ''"> <i
							class="fa-solid fa-users-gear"></i>UserManagement
						</a>
					</div>
					<div>
						<a th:href="@{/contactmessage}"
							th:class="${servletPath == '/contactmessage'} ? 'active' : ''"> 
							<i class="fa-solid fa-message"></i>Contact Message
						</a>
					</div>
				</div>
				<div class="bottom_list">
					<ul>
						<li>
							<form th:action="@{/logout}" sec:authorize="isAuthenticated()"
								class=" text-center" method="post">
								<button type="submit" id="logout">
									<i class="fa-solid fa-arrow-right-from-bracket"></i> Log out
								</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div th:fragment="js">
		<script th:src="@{/admin/js/bootstrap.min.js}"></script>
		<script th:src="@{/admin/js/jquery.min.js}"></script>
	</div>
</body>

</html>