<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />


<title>Shop Details</title>
<!-- css -->
<link th:replace="user/layout/assets :: css" />
</head>
<body>

	<!-- header -->
	<div th:replace="user/layout/assets :: header"></div>

	<!--  hero section -->
	<div th:replace="user/layout/assets :: hero-section"></div>

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/client/img/breadcrumb.jpg}	">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>Product Detail</h2>
						<div class="breadcrumb__option">
							<a href="./index.html">Home</a> <a href="./index.html"
								class="text-capitalize">[[${product.subCategory.category.categoryName}]]</a>
							<span class="text-capitalize">[[${product.name}]]</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Product Details Section Begin -->
	<section class="product-details spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="product__details__pic">
						<div class="product__details__pic__item">
							<img class="product__details__pic__item--large productImg"
								th:src="@{${product.thumbnailImage}}" alt="">
						</div>
						<div class="product__details__pic__slider owl-carousel">
							<img data-imgbigurl="img/product/details/product-details-2.jpg"
								src="img/product/details/thumb-1.jpg" alt=""> <img
								data-imgbigurl="img/product/details/product-details-3.jpg"
								src="img/product/details/thumb-2.jpg" alt=""> <img
								data-imgbigurl="img/product/details/product-details-5.jpg"
								src="img/product/details/thumb-3.jpg" alt=""> <img
								data-imgbigurl="img/product/details/product-details-4.jpg"
								src="img/product/details/thumb-4.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="product__details__text">
						<h3 class=" text-capitalize productName">[[${product.name}]]</h3>
						<!-- <div class="product__details__rating">
							<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
								class="fa fa-star"></i> <i class="fa fa-star"></i> <i
								class="fa fa-star-half-o"></i> <span>(18 reviews)</span>
						</div> -->
						<input type="hidden" th:value="${product.id}" class="productId" />
						<div class="product__details__price ">
							<span class="productPrice">[[${discountPrice} != null ?
								${discountPrice} : ${product.price}]]</span> Ks
							<del th:if="${discountPrice}">
								<small class="originalPrice">[[${product.price}]]</small><small>Ks</small>
							</del>
						</div>
						<span th:if="${discountPrice}" class="badge badge-warning">[[${#numbers.formatInteger(product.discount,1,'POINT')}]]
							% OFF</span>
						<p>[[${product.description}]]</p>
						<div class=" d-flex gap-3">
							<div class="product__details__quantity">
								<div class="quantity">
									<div class="pro-qty">
										<input type="number" class="productQty"
											th:max="${product.stock}" min="1" value="1">
									</div>
								</div>
							</div>
							<div th:if="${product.stock ne 0}">
								<button class="primary-btn border-0 shadow-sm addToCartBtn">ADD
									TO CARD</button>
							</div>
							<div th:if="${product.stock eq 0}">
								<button class="primary-btn border-0 shadow-sm "
									data-toggle="modal" data-target="#outOfStock">ADD
									TO CARD</button>
							</div>
						</div>

						<ul>
							<li><b>Brand</b> <span>[[${product.brand.brandName !=
									null ? product.brand.brandName : N/A}]]</span></li>
							<li><b>Availability</b> <span>In Stock - <span
									class="productStock text-danger" th:if="${product.stock eq 0}">Out
										Of Stock</span> <span class="productStock "
									th:if="${product.stock ne 0}">[[${product.stock}]]</span>
							</span></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- Product Details Section End -->

	<!-- Related Product Section Begin -->
	<section class="related-product">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title related__product__title">
						<h2>Related Product</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="product__item">
						<div class="product__item__pic set-bg"
							data-setbg="img/product/product-1.jpg">
							<ul class="product__item__pic__hover">
								<li><a href="#"><i class="fa fa-heart"></i></a></li>
								<li><a href="#"><i class="fa fa-retweet"></i></a></li>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h6>
								<a href="#">Crab Pool Security</a>
							</h6>
							<h5>$30.00</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="product__item">
						<div class="product__item__pic set-bg"
							data-setbg="img/product/product-2.jpg">
							<ul class="product__item__pic__hover">
								<li><a href="#"><i class="fa fa-heart"></i></a></li>
								<li><a href="#"><i class="fa fa-retweet"></i></a></li>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h6>
								<a href="#">Crab Pool Security</a>
							</h6>
							<h5>$30.00</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="product__item">
						<div class="product__item__pic set-bg"
							data-setbg="img/product/product-3.jpg">
							<ul class="product__item__pic__hover">
								<li><a href="#"><i class="fa fa-heart"></i></a></li>
								<li><a href="#"><i class="fa fa-retweet"></i></a></li>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h6>
								<a href="#">Crab Pool Security</a>
							</h6>
							<h5>$30.00</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="product__item">
						<div class="product__item__pic set-bg"
							data-setbg="img/product/product-7.jpg">
							<ul class="product__item__pic__hover">
								<li><a href="#"><i class="fa fa-heart"></i></a></li>
								<li><a href="#"><i class="fa fa-retweet"></i></a></li>
								<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
							</ul>
						</div>
						<div class="product__item__text">
							<h6>
								<a href="#">Crab Pool Security</a>
							</h6>
							<h5>$30.00</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Related Product Section End -->

	<!-- Out of Stock Modal -->
	<div class="modal fade" id="outOfStock" tabindex="-1" role="dialog"
		aria-labelledby="outOfStockLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Alert Message !</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<h4 class="text-danger">This product is out of stock!</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- js files  -->
	<script th:replace="user/layout/assets :: js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var Toast = Swal.mixin({
				toast: true,
				position: "top-end",
				showConfirmButton: false,
				timer: 3000,
				timerProgressBar: true,
				didOpen: (toast) => {
					toast.onmouseenter = Swal.stopTimer;
					toast.onmouseleave = Swal.resumeTimer;
				}
			});
			
			var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");
            
			$(".addToCartBtn").click(function() {
	            var productId = $(".productId").val();
	            var productName = $(".productName").text();
	            var productPrice = $(".productPrice").text();
	            var quantity = parseInt($(".productQty").val());
	            var productStock = parseInt($(".productStock").text());
	            var productImg = $(".productImg").attr("src");

				var storedCart = JSON.parse(sessionStorage.getItem("cart")) || [];
				

				var foundProduct = storedCart.find(function(product) {
					return product.id === productId;
				});

				if (!foundProduct) {
					var data = {
		                    'id': productId,
		                    'name': productName,
		                    'price': productPrice,
		                    'image': productImg,
		                    'stock': productStock,
		                    'quantity': quantity
		                };
		                storedCart.push(data);
		                sessionStorage.setItem("cart", JSON.stringify(storedCart));
		                
		                Toast.fire({
        					icon: "success",
        					title: "Added to the Cart"
        				}); 
		                $(".productQty").val(1); //reset quantity in ui
		                sendCartToBackend(); //send data to backend
		                 
				} else {
					var totalQty = foundProduct.quantity + quantity;
					if(totalQty > productStock){
						Swal.fire({
							  title: "<strong>This product already on the Cart with this quantity</strong>",
							  icon: "warning",
							  html: `
		                            The requested quantity exceeds the available stock. 
		                            Current stock: ${productStock},
		                            Quantity in cart: ${foundProduct.quantity}
		                        `,
							  showCloseButton: true,
							  showCancelButton: true,
							  focusConfirm: false,
							  confirmButtonText: `
							    <a href="/cart" class=" text-decoration-none text-white "> Go to the Cart</a>
							  `,
							  confirmButtonAriaLabel: "Go to Cart",
							  cancelButtonText: `
							    Cancel
							  `,
							  cancelButtonAriaLabel: "Cancel"
							});
					}else{
						foundProduct.quantity = totalQty;
						var index = storedCart.findIndex(function(product) {
							return product.id === productId;
						});
						sessionStorage.setItem("cart", JSON.stringify(storedCart)); 
						$(".productQty").val(1); //reset quantity in ui
						sendCartToBackend(); //send data to backend
						Toast.fire({
        					icon: "success",
        					title: "Added to the Cart"
        				});
						
						
					}
				}
				console.log("Cart :", storedCart);

			})

			function sendCartToBackend(){
				var storedCart = JSON.parse(sessionStorage.getItem("cart")) || [];
				
				$.ajax({
                    url: "/api/v1/updateCart",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(storedCart),
                    dataType: 'json',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    success: function(data) {
                        console.log(data);
                        
                    }
                });
			}
			
			/*-------------------
			Quantity change
		--------------------- */
		var proQty = $('.pro-qty');
		proQty.prepend('<span class="dec qtybtn">-</span>');
		proQty.append('<span class="inc qtybtn">+</span>');
		proQty.on('click', '.qtybtn', function() {
			var $button = $(this);
			var oldValue = $button.parent().find('input').val();
			var maxValue = parseInt($button.parent().find('input').attr('max'));
			if ($button.hasClass('inc')) {
				if (maxValue > oldValue) {
					var newVal = parseFloat(oldValue) + 1;
				} else {
					Toast.fire({
						icon: "warning",
						title: "This Product is out of stock"
					});
					newVal = oldValue;
				}
			} else {
				// Don't allow decrementing below zero
				if (oldValue > 1) {
					var newVal = parseFloat(oldValue) - 1;
				} else {
					newVal = 1;
				}
			}
			$button.parent().find('input').val(newVal);
		});
		});
		
		
	</script>
</body>
</html>
