<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>User ChangePassword Page</title>
<!-- css -->
<link th:replace="user/layout/assets :: css" />
</head>
<body>

	<!-- header -->
	<div th:replace="user/layout/assets :: header"></div>

	<!--  hero section -->
	<div th:replace="user/layout/assets :: hero-section"></div>

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/client/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>Change Password</h2>
						<div class="breadcrumb__option">
							<a href="/">Home</a> <span>change password</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Profile Section Begin -->
	<div id="sub_content">
		<div class="row justify-content-center">
			<div class="col-lg-8 bg-gray p-5 mt-5 rounded-5">
				<div class="alert alert-success" role="alert" th:text="${success}"
					th:if="${success}"></div>

				<div class="alert alert-danger" role="alert" th:text="${error}"
					th:if="${error}"></div>

				<form th:action="@{/user/changepassword/edit}" th:object=${user}
					method="post">
					<input type="hidden" th:field="*{id}" />
					<div class="mb-3">
						<label for="Current Password" class="form-label">Current
							Password</label> <input type="password" class="form-control"
							name="currentPassword" placeholder="Enter Current Password"
							required />
					</div>
					<div class="mb-3">
						<label for="New Password" class="form-label">New Password</label>
						<input type="password" class="form-control" name="password"
							placeholder="Enter New Password" required />

					</div>
					<div class="mb-3">
						<label for="Confirm Password" class="form-label">Confirm
							Password</label> <input type="password" class="form-control"
							name="confirmPassword" placeholder="Enter New Password" required />

					</div>
					<div class=" text-end">
						<a th:href="@{/home}" class="btn btn-secondary ">back to home</a>
						<button type="submit" class="btn btn-primary ">Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!-- js files  -->
	<script th:replace="user/layout/assets :: js"></script>
</body>
</html>