<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Order History</title>
<!-- css -->
<link th:replace="user/layout/assets :: css" />
</head>
<body>

	<!-- header -->
	<div th:replace="user/layout/assets :: header"></div>

	<!--  hero section -->
	<div th:replace="user/layout/assets :: hero-section"></div>

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/client/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>Order History</h2>
						<div class="breadcrumb__option">
							<a href="/">Home</a> <span>History</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Order History Section Begin -->
	<div class="container my-5">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">No</th>
					<th scope="col">Order No</th>
					<th scope="col">Status</th>
					<th scope="col">Order Time</th>
					<th scope="col">View Detail</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order,state : ${orders}">
					<td>[[${state.count}]]</td>
					<td><a href="#"
						class="text-dark text-decoration-none fw-medium">[[${order.orderNumber}]]</a>
					</td>
					<td><span th:if="${order.status eq 'PENDING'}"
						class="badge badge-warning">[[${order.status}]]</span> <span
						th:if="${order.status eq 'SUCCESS'}" class="badge badge-success">[[${order.status}]]</span>
						<span th:if="${order.status eq 'REJECTED'}"
						class="badge badge-danger">[[${order.status}]]</span></td>
					<td>[[${#dates.format(order.createdTime,'dd-MMM-yyyyHH:mm')}]]</td>
					<td><a th:href="@{/user/order/slip/{id}(id=${order.id})}"
						class="btn btn-link btn-lg btn-rounded"> <i
							class="fa fa-print" aria-hidden="true"></i>
					</a> <a th:href="@{/orderhistory/detail/{id}(id=${order.id})}"
						class="btn btn-link btn-lg btn-rounded"> <i
							class="fa fa-info-circle" aria-hidden="true"></i>
					</a></td>
				</tr>

			</tbody>
		</table>
	</div>
	<!-- Order History Section End -->


	<!-- js files  -->
	<script th:replace="user/layout/assets :: js"></script>
</body>
</html>