<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>SHOP</title>

<link th:replace="user/layout/assets :: css" />
</head>
<body>

	<!-- header -->
	<div th:replace="user/layout/assets :: header"></div>

	<!--  hero section -->
	<div th:replace="user/layout/assets :: hero-section"></div>

	<!-- Categories Section Begin -->
	<section class="categories">
		<div class="container">
			<div class="row">
				<div class="categories__slider owl-carousel">
					<div th:each="product : ${products}" class="col-lg-3">
						<div class="categories__item set-bg"
							th:data-setbg="@{${product.thumbnailImage}}"></div>
						<h5>
							<a th:href="@{/shop/detail/{id}(id=${product.id})}">[[${product.name}]]</a>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Categories Section End -->

	<section class="row justify-content-center mt-5">
		<div class=" col-lg-9">
			<div class="product__discount">
				<div class="section-title product__discount__title">
					<h2>Discount Products</h2>
				</div>
				<div class="row">
					<div th:if="${#lists.size(showDisProducts) > 0}"
						class="product__discount__slider owl-carousel">
						<div th:each="dsProduct : ${showDisProducts}" class="col-lg-4">
							<div class="product__discount__item">
								<div class="product__discount__item__pic set-bg"
									th:data-setbg="${dsProduct.thumbnailImage}"></div>
								<div class="product__discount__percent"
									th:if="${dsProduct.discount eq 100}">Free</div>
								<div th:unless="${dsProduct.discount eq 100}">
									<div class="product__discount__percent"
										th:text=" ${#numbers.formatInteger(dsProduct.discount, 1)} + '%'"></div>
								</div>
								<div class="product__discount__item__text">
									<span>[[${dsProduct.subCategory.category.categoryName}]]</span>
									<h5>
										<a th:href="@{/shop/detail/{id}(id=${dsProduct.id})}">[[${dsProduct.name}]]</a>
									</h5>
									<div class="product__item__price">
										[[ ${#numbers.formatInteger(dsProduct.discountPrice,1)} ]] Ks
										<span>[[${#numbers.formatInteger(dsProduct.price,1)} ]]
											Ks</span>
									</div>
								</div>
							</div>
						</div>

					</div>

					<!-- show no discount products -->
					<div th:if="${#lists.size(showDisProducts) == 0}">
						<h4>There is no discount products..</h4>
					</div>
				</div>

			</div>
	</section>

	<!-- Featured Section Begin -->
	<section class="featured spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Featured Product</h2>
					</div>
				</div>
			</div>
			<div class="row featured__filter">
				<div th:each="product : ${products}"
					class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat ">
					<div class="featured__item">
						<input type="hidden" class="productId" th:value="${product.id}" />
						<div class="featured__item__pic set-bg productImg"
							th:data-setbg="@{${product.thumbnailImage}}">
							<ul class="featured__item__pic__hover">
								<!-- <li><a href="#"><i class="fa fa-heart"></i></a></li> -->
								<li><a th:href="@{/shop/detail/{id}(id=${product.id})}"><i
										class="fa fa-info"></i></a></li>
								<!-- <li><a class="addToCartBtn"><i
										class="fa fa-shopping-cart"></i></a></li> -->
							</ul>
						</div>
						<div class="featured__item__text">
							<h6>
								<a th:href="@{/shop/detail/{id}(id=${product.id})}"
									class="productName">[[${product.name}]]</a>
							</h6>
							<div th:if="${product.discount == 0}">[[${#numbers.formatInteger(product.price,1)}
								]] Ks</div>
							<div th:if="${product.discount != 0}"
								class="product__item__price">
								<span>[[
									${#numbers.formatInteger(product.discountPrice,1)} ]] Ks</span>
								<del>[[${#numbers.formatInteger(product.price,1)} ]] Ks</del>
							</div>
						</div>
						<input type="hidden" class="productStock"
							th:value="${product.stock}" />
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- Featured Section End -->

	<!-- js files  -->
	<script th:replace="user/layout/assets :: js"></script>
	<script th:src="@{/app/js/cartItem.js}"></script>

	<script type="text/javascript">
		$(document).ready(
				function() {
					$(".addToCartBtn").click(
							function(event) {
								event.preventDefault();

								var productElement = $(this).closest(
										".featured__item");
								var productId = productElement.find(
										".productId").val();
								var productImg = productElement.find(
										".productImg").attr("data-setbg");
								var productPrice = productElement.find(
										".productPrice").text();
								var productName = productElement.find(
										".productName").text();
								var productStock = productElement.find(
										".productStock").val();

								var storedCart = JSON.parse(sessionStorage
										.getItem("cart"))
										|| [];

								var foundProduct = storedCart.find(function(
										product) {
									return product.productId === productId;
								});

								if (!foundProduct) {
									var newProduct = {
										'productId' : productId,
										'productName' : productName,
										'productPrice' : productPrice,
										'productImg' : productImg,
										'productStock' : productStock,
										'quantity' : 1
									};
									storedCart.push(newProduct);
									sessionStorage.setItem("cart", JSON
											.stringify(storedCart));

								} else {
									foundProduct.quantity++;
									var index = storedCart.findIndex(function(
											product) {
										return product.productId === productId;
									});
									sessionStorage.setItem("cart", JSON
											.stringify(storedCart));
								}
								console.log("Updated Cart:", storedCart);

							});
				});
	</script>

</body>
</html>