<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Pending Orders</title>
<link th:replace="admin/layout/assets :: css" />
</head>

<body>
	<div id="container">
		<!-- side navbar   -->
		<div th:replace="admin/layout/assets :: sideBar"></div>
		<div id="content_wrap">
			<div class="content_box">
				<!-- header   -->
				<div th:replace="admin/layout/assets :: header"></div>

			</div>
			<div id="sub_content">

				<form action="/order/pending" method="get" class="row g-3">
					<div class="col-auto">
						<label for="inputPassword2" class="visually-hidden">Order
							No</label> <input type="text" name="search" th:value="${param.search}"
							class="form-control" placeholder="Order No">
					</div>

					<div class="col-auto">
						<button type="submit" class="btn btn-primary mb-3">Search</button>
					</div>
					<div class="col-auto">
						<a href="/order/pending" class="btn btn-danger mb-3">Reset</a>
					</div>
				</form>
				<div class="alert alert-success" role="alert" th:text="${success}"
					th:if="${success}"></div>

				<div class="alert alert-danger" role="alert" th:text="${error}"
					th:if="${error}"></div>

				<table class="table table-striped" id="stduentTable">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">User</th>
							<th scope="col">Order No</th>
							<th scope="col">Status</th>
							<th scope="col">Order Time</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order,state : ${orders}">
							<td>[[${state.count}]]</td>
							<td>[[${order.user.name}]]</td>
							<td><a href="#" class=" text-decoration-none fw-medium">[[${order.orderNumber}]]</a>
							</td>
							<td><span class="badge rounded-pill text-bg-warning">[[${order.status}]]</span>
							</td>
							<td>[[${#dates.format(order.createdTime,'dd-MMM-yyyy
								HH:mm')}]]</td>
							<td><a th:href="@{/order/detail/{id}(id=${order.id})}"
								class="btn btn-link btn-lg btn-rounded"> <i
									class="fa-solid fa-circle-info"></i>
							</a></td>
						</tr>
					</tbody>
				</table>
				<div th:if="${#lists.size(orders) == 0}" class=" text-center">No Items</div>

				<!-- Pagination Controls -->
				<div th:if="${totalPages > 1}">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item"
								th:class="${currentPage == 1 ? 'disabled' : ''}"><a
								class="page-link" th:href="@{/order/pending(page=1)}"
								aria-label="Previous"> <span aria-hidden="true">&laquo;
										Previous</span>
							</a></li>
							<li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}"
								class="page-item"
								th:class="${pageNumber == currentPage ? 'active' : ''}"><a
								class="page-link" th:href="@{/order/pending(page=${pageNumber})}"
								th:text="${pageNumber}"></a></li>
							<li class="page-item"
								th:class="${currentPage == totalPages ? 'disabled' : ''}">
								<a class="page-link" th:href="@{/order/pending(page=${totalPages})}"
								aria-label="Next"> <span aria-hidden="true">Next
										&raquo;</span>
							</a>
							</li>
						</ul>
					</nav>
				</div>


			</div>
		</div>
	</div>


	<!-- js   -->
	<script th:replace="admin/layout/assets :: js"></script>

</body>

</html>