<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Category</title>
<link th:replace="admin/layout/assets :: css" />
</head>

<body>
	<div id="container">
		<!-- side navbar   -->
		<div th:replace="admin/layout/assets :: sideBar"></div>
		<div id="content_wrap">
			<div class="content_box">
				<!-- header   -->
				<div th:replace="admin/layout/assets :: header"></div>

			</div>
			<div id="sub_content">

				<form action="/payment/all" method="get" class="row g-3">
					<div class="col-auto">
						<label for="inputPassword2" class="visually-hidden">Payment
							History</label> <input type="text" name="search"
							th:value="${param.search}" class="form-control"
							placeholder="Search..">
					</div>

					<div class="col-auto">
						<button type="submit" class="btn btn-primary mb-3">Search</button>
					</div>
					<div class="col-auto">
						<a href="/payment/all" class="btn btn-danger mb-3">Reset</a>
					</div>
				</form>

				<div class="alert alert-success" role="alert" th:text="${success}"
					th:if="${success}"></div>

				<div class="alert alert-danger" role="alert" th:text="${error}"
					th:if="${error}"></div>

				<table class="table table-striped" id="stduentTable">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Transaction Id</th>
							<th scope="col">Payment Type</th>
							<th scope="col">Status</th>
							<th scope="col">Created Time</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="payment,state : ${payments}">
							<td>[[${state.count}]]</td>
							<td>[[${payment.transactionId}]]</td>
							<td><a href="#" class=" text-decoration-none fw-medium">[[${payment.paymentType}]]</a>
							</td>
							<td><span th:if="${payment.status eq 'PENDING'}"
								class="badge rounded-pill text-bg-warning">[[${payment.status}]]</span>
								<span th:if="${payment.status eq 'SUCCESS'}"
								class="badge rounded-pill text-bg-success">[[${payment.status}]]</span>
								<span th:if="${payment.status eq 'REJECTED'}"
								class="badge rounded-pill text-bg-danger">[[${payment.status}]]</span>
							</td>
							<td>[[${#dates.format(payment.createdTime,'dd-MMM-yyyyHH:mm')}]]</td>
							<td><a th:href="@{/order/detail/{id}(id=${payment.id})}"
								class="btn btn-link btn-lg btn-rounded"> <i
									class="fa-solid fa-circle-info"></i>
							</a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<!-- js   -->
	<script th:replace="admin/layout/assets :: js"></script>
	<script type="text/javascript">
		function openDeleteModal(button) {
			$('#deleteId').val(button.getAttribute("data-categoryId"));
			$('#deleteName').text(button.getAttribute("data-categoryName"));
			$('#deleteModal').modal('show');
		};
	</script>
</body>

</html>