<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Product</title>
<link th:replace="admin/layout/assets :: css" />
</head>

<body>
	<div id="container">
		<!-- side navbar   -->
		<div th:replace="admin/layout/assets :: sideBar"></div>
		<div id="content_wrap">
			<div class="content_box">
				<!-- header   -->
				<div th:replace="admin/layout/assets :: header"></div>

			</div>
			<div id="sub_content">

				<form class="row g-3">
					<div class="col-auto">
						<label for="inputPassword2" class="visually-hidden">Product
							Name</label> <input type="text" class="form-control"
							placeholder="Product Name">
					</div>

					<div class="col-auto">
						<button type="submit" class="btn btn-primary mb-3">Search</button>
					</div>
					<div class="col-auto">
						<button type="submit" class="btn btn-danger mb-3">Reset</button>
					</div>
					<div class="col-auto">
						<a th:href="@{/product/add}" class="btn btn-info">Add New</a>
					</div>
				</form>

				<div class="alert alert-success" role="alert" th:text="${success}"
					th:if="${success}"></div>

				<table class="table table-striped" id="stduentTable">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Name</th>
							<th scope="col">Price</th>
							<th scope="col">Stock</th>
							<th scope="col">Discount %</th>
							<th scope="col">Thumbnail Image</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product,state : ${products}">
							<td>[[${state.count}]]</td>
							<td>[[${product.name}]]</td>
							<td>[[${product.price}]] MMK</td>
							<td>
							<span
								class="productStock text-danger " style="font-weight: bold;" th:if="${product.stock eq 0}">Out
									Of Stock</span> 
									<span class="productStock "
								th:if="${product.stock ne 0}">[[${product.stock}]]</span> 
							</td>
							<td>[[${product.discount}]]</td>
							<td><img th:alt="${product.name}" width="80"
								th:src="@{${product.thumbnailImage}}"></td>
							<td><a th:href="@{/product/details/{id}(id=${product.id})}"
								class="btn btn-link btn-lg btn-rounded"> <i
									class="fa-solid fa-circle-info"></i>
							</a> <a th:href="@{/product/edit/{id}(id=${product.id})}"
								class="btn btn-link btn-lg btn-rounded"> <i
									class="fa-solid fa-pen-to-square"></i>
							</a> <!-- <a
								th:attr="data-productId=${product.id} , data-productName=${product.name}"
								th:onclick="openDeleteModal(this)"
								class="btn btn-link text-danger btn-lg btn-rounded"> <i
									class="fa-regular fa-trash-can"></i>
							</a> --></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Delete Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Delete
						Product</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Are you sure want to delete? - <span id="deleteName"></span>
				</div>
				<div class="modal-footer">
					<form th:action="@{/product/delete}" method="post"
						th:object="${product}">
						<div class="btnGp">
							<input type="hidden" th:field="*{id}" id="deleteId" />
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-danger">Yes, Delete
								it</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- js   -->
	<script th:replace="admin/layout/assets :: js"></script>

	<script type="text/javascript">
		function openDeleteModal(button) {
			$('#deleteId').val(button.getAttribute("data-productId"));
			$('#deleteName').text(button.getAttribute("data-productName"));
			$('#deleteModal').modal('show');
		};
	</script>
</body>

</html>