<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Sign Up</title>

<link th:replace="admin/layout/assets :: css" />
</head>

<body>
	<div id="sign-in" class="d-flex align-items-center">
		<form th:action="@{/signup}" method="POST" th:object="${user}"
			class="row g-3 signin">
			<h1>Get Started Now</h1>
			<div class="alert alert-success" role="alert" th:text="${error}"
				th:if="${error}"></div>
			<div class="alert alert-success" role="alert" th:text="${success}"
				th:if="${success}"></div>
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Name</label>
				<input type="text" class="form-control" th:field="*{name}"
					placeholder="Enter your name"> <small class="text-danger"
					th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
			</div>
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Email
					address</label> <input type="email" th:field="*{email}"
					class="form-control" placeholder="Enter your email"> <small
					class="text-danger" th:if="${#fields.hasErrors('email')}"
					th:errors="*{email}"></small>
			</div>
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Password</label>
				<input type="password" class="form-control" th:field="*{password}"
					placeholder="Password"> <small class="text-danger"
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
			</div>
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Confirm
					Password</label> <input type="password" class="form-control"
					th:field="*{confirmPassword}" placeholder="Confirm Password">
				<small class="text-danger"
					th:if="${#fields.hasErrors('confirmPassword')}"
					th:errors="*{confirmPassword}"></small>
			</div>
			<div class="form-check d-flex  align-items-center gap-2">
				<input class="form-check-input" type="checkbox"
					th:field="*{agreeTermAndPolicy}" id="flexCheckChecked"> <label
					class="form-check-label" for="flexCheckChecked">I agree to
					the terms & policy</label> <small class="text-danger"
					th:if="${#fields.hasErrors('agreeTermAndPolicy')}"
					th:errors="*{agreeTermAndPolicy}"></small>
			</div>
			<div class="d-grid gap-2">
				<button class="btn form-btn" type="submit">SignUp</button>
			</div>
			<div class=" text-center">
				<span>Already Registered? <a th:href="@{/login}"
					class=" text-decoration-none">Login Here</a></span>
			</div>
		</form>
		<div class="image">
			<img th:src="@{/admin/images/clay-banks-qW_k6x5OfRc-unsplash.jpg}">
		</div>
	</div>
</body>

</html>