<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Update Category</title>
<link th:replace="admin/layout/assets :: css" />
</head>

<body>
	<div id="container">
		<!-- side navbar here  -->
		<div th:replace="admin/layout/assets :: sideBar"></div>
		<div id="content_wrap">
			<div class="content_box">
				<!-- header here  -->
				<div th:replace="admin/layout/assets :: header"></div>

			</div>
			<div id="sub_content">
				<h5 class="fw-bold">Update Category</h5>
				<div class="row justify-content-center">
					<div class="col-lg-8 bg-gray p-5 mt-5 rounded-5">
						<form
							th:action="@{/category/update/{id}(id=${category.categoryId})}"
							method="post" th:object=${category}>
							<div class="mb-3">
							<input type="hidden" th:field="*{categoryId}">
								<label for="categoryName" class="form-label">Name</label> <input
									type="text" class="form-control"
									placeholder="Enter Category Name" th:field="*{categoryName}" />
								<p class="text-danger"
									th:if="${#fields.hasErrors('categoryName')}"
									th:errors="*{categoryName}"></p>
							</div>
							<div class=" text-end">
								<a th:href="@{/category}" class="btn btn-secondary ">Cancel</a>
								<button type="submit" class="btn btn-primary ">Update</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
		<!-- js   -->
		<script th:replace="admin/layout/assets :: js"></script>
</body>

</html>