<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Sub Category</title>
<link th:replace="admin/layout/assets :: css" />
</head>

<body>
	<div id="container">
		<!-- side navbar   -->
		<div th:replace="admin/layout/assets :: sideBar"></div>
		<div id="content_wrap">
			<div class="content_box">
				<!-- header   -->
				<div th:replace="admin/layout/assets :: header"></div>
			</div>
			<div id="sub_content">

				<form class="row g-3">
					<div class="col-auto">
						<label for="inputPassword2" class="visually-hidden">Category
							Name</label> <input type="text" class="form-control"
							placeholder="Category Name">
					</div>
					<div class="col-auto">
						<button type="submit" class="btn btn-primary mb-3">Search</button>
					</div>
					<div class="col-auto">
						<button type="submit" class="btn btn-danger mb-3">Reset</button>
					</div>
					<div class="col-auto">
						<a th:href="@{/subcategory/add}" class="btn btn-info">Add New</a>
					</div>
				</form>
				<div class="alert alert-success" role="alert" th:text="${success}"
					th:if="${success}"></div>

				<table class="table table-striped" id="stduentTable">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Sub-Category Name</th>
							<th scope="col">Category Name</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="subcategory : ${subcategories}">
							<td th:text="${subcategory.subCategoryId}"></td>
							<td th:text="${subcategory.subCategoryName}"></td>
							<td th:text="${subcategory.category.categoryName}"></td>
							<td><a
								th:href="@{/subcategory/update/{id}(id =${subcategory.subCategoryId})}"
								class="btn btn-link btn-lg btn-rounded"> <i
									class="fa-solid fa-pen-to-square"></i>
							</a> <a
								th:href="@{/subcategory/delete/{id}(id =${subcategory.subCategoryId})}"
								class="btn btn-link text-danger btn-lg btn-rounded"> <i
									class="fa-regular fa-trash-can"></i>
							</a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<!-- js   -->
	<script th:replace="admin/layout/assets :: js"></script>
</body>

</html>