<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Payment Confirm</title>
<!-- css -->
<link th:replace="user/layout/assets :: css" />

<style type="text/css">
#zoid-paypal-buttons-uid_c69b81ffc9_mdi6ntk6mzc>iframe.component-frame {
	z-index: 1 !important;
}
</style>
</head>
<body>

	<!-- header -->
	<div th:replace="user/layout/assets :: header"></div>

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/client/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>Shopping Payment</h2>
						<div class="breadcrumb__option">
							<a href="/cart">Cart</a> <span>Payment</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->
	<div class=" d-flex justify-content-center mt-5">
		<label>Select Your Payment</label>
	</div>
	<div class=" d-flex justify-content-center mb-5">

		<select class="form-select " style="z-index: 999;" id="paymentSelect">
			<option selected disabled="disabled">Select Payment</option>
			<option value="WavePay">Wave Pay</option>
			<option value="KPay">K Pay</option>
			<option value="Paypal">PayPal</option>
		</select>
	</div>
	<div class=" d-flex justify-content-center ">
		<div id="WavePayControl" class=" d-none mb-5">
			<div style="width: 400px">
				<div class=" text-center">
					<img alt="" width="150" th:src="@{/images/qr-code.png}">
					<h4>
						<b>09-9847538453</b>
					</h4>
				</div>
				<div class=" mt-2">
					<label>Upload Your ScreenShot</label> <input type="file"
						class="form-control waveFile" />
				</div>
				<div class=" mt-2 text-center">
					<button class="btn btn-main" id="waveBtn">Continue</button>
				</div>
			</div>
		</div>

		<div id="KPayControl" class=" d-none mb-5">
			<div style="width: 400px">
				<div class=" text-center">
					<img alt="" width="150" th:src="@{/images/qr-code.png}">
					<h4>
						<b>09-9847538453</b>
					</h4>
				</div>
				<div class=" mt-2">
					<label>Upload Your ScreenShot</label> <input type="file"
						class="form-control kPayFile" />
				</div>
				<div class=" mt-2 text-center">
					<button class="btn btn-main" id="kpayBtn">Continue</button>
				</div>
			</div>
		</div>

		<div id="paypalControl" style="z-index: 1;" class=" d-none">
			<div id="paypal-button-container" style="width: 400px"></div>
		</div>
	</div>

	<!-- js files  -->
	<script th:replace="user/layout/assets :: js"></script>
	<script
		src="https://www.paypal.com/sdk/js?client-id=AX5zEgyqv4j6ahuYoF4-Xzpw89fwIk38P1lGa8oKDDI35RYoOE-BwTa9MOjicsjboxGaWPH11zOJIRIa"></script>

	<script>
		var totalPrice = document.querySelector(".cart_header_price").innerHTML;
		var Toast = Swal.mixin({
			toast: true,
			position: "top-end",
			showConfirmButton: false,
			timer: 3000,
			timerProgressBar: true,
			didOpen: (toast) => {
				toast.onmouseenter = Swal.stopTimer;
				toast.onmouseleave = Swal.resumeTimer;
			}
		});
		
		$("#paymentSelect").change(
				function() {
					var selectedPayment = $(this).val();

					// Hide all payment controls
					$("#WavePayControl, #KPayControl, #paypalControl")
							.addClass("d-none");
					sessionStorage.setItem('paymentType', selectedPayment);
					// Show the selected payment control
					if (selectedPayment === "WavePay") {
						$("#WavePayControl").removeClass("d-none");
					} else if (selectedPayment === "KPay") {
						$("#KPayControl").removeClass("d-none");
					} else if (selectedPayment === "Paypal") {
						$("#paypalControl").removeClass("d-none");
					}
				})

		// Continue button click event for Wave Pay
		$("#waveBtn").click(
				function() {
					// Add your logic for Wave Pay here
					// For example, you can retrieve the selected file and perform further actions
					var selectedFile = $(".waveFile")[0];
					if (selectedFile) {
						getImageSource(selectedFile)
						generateTranscationID();
						navigateToNextPage();
					} else {
						 Toast.fire({
	        					icon: "warning",
	        					title: "Please upload a screenshot for Wave Pay."
	        				}); 
					}
				});

		// Continue button click event for K Pay
		$("#kpayBtn").click(
				function() {
					// Add your logic for K Pay here
					// For example, you can retrieve the selected file and perform further actions
					var selectedFile = $(".kPayFile")[0];
					if (selectedFile) {
						getImageSource(selectedFile)
						generateTranscationID();
						navigateToNextPage();
					} else {
						Toast.fire({
        					icon: "warning",
        					title: "Please upload a screenshot for K Pay."
        				}); 
					}
				});
		
		function getImageSource(screenshot) {
			const image = screenshot.files[0];
			console.log("Imge : " , image)
	        var reader = new FileReader();
			reader.onload = function () {
	            sessionStorage.setItem('screenshot', reader.result);
	        };
	        reader.readAsDataURL(image);
	        return reader.result;
	    }
		
		function generateTranscationID (){
			 var transactionId = "TRX" + Math.random().toString(16).slice(2)
			    
			 sessionStorage.setItem('transactionId', transactionId);
		}
		
		 function navigateToNextPage() {
		        window.location.href = "/cart/address";
		    }

		 //paypal config
		paypal
				.Buttons(
						{
							createOrder : function(data, actions) {
								// Set up the transaction details and return the order ID
								return actions.order.create({
									purchase_units : [ {
										intent : 'CAPTURE', //capture payment from buyer
										amount : {
											value : totalPrice, // Set the amount to be charged
										}
									} ]
								});
							},
							onApprove : function(data, actions) {
								// Capture the funds when the user approves the payment
								return actions.order
										.capture()
										.then(
												function(details) {
													console.log(details);
													var orderId = details.id;
													var transactionId = details.purchase_units[0].payments.captures[0].id;

													sessionStorage.setItem('transactionId', transactionId);
													navigateToNextPage();
												});
							},
							onCancel : function(data) {
								console.log("payment cancaled..");
							}

						}).render('#paypal-button-container');
	</script>

</body>
</html>