/* Dashboard */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root { 
	--bg-gray-color: #F6F6FB; 
	--bg-blue-soft: #7166F9; 
	--bg-purple-soft: #E17CFD; 
	--border-color: #C4C4C4;
	--bg-dark-color: #2B2F42; 
	--bg-darkgreen-color: #3A5B22;
}

body {
	font-family: 'Roboto', sans-serif;
	min-width: 100%;
	width: auto;
	height: auto;
}

::-webkit-scrollbar {
	width: 0.1rem;
}

::-webkit-scrollbar-track {
	background: var(--bg-gray-color);
}

::-webkit-scrollbar-thumb {
	background: var(--bg-gray-color);
}

/* Dashboard -css start */
#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 1400px;
	margin: 0 auto;
	position: relative;
}

#group_1 {
	width: 270px;
	height: 100%;
	background-color: var(--bg-gray-color);
	top: 0;
	left: 0;
	position: fixed;
	max-height: 900vh;
	overflow: auto;
	float: left;
	clear: both;
}

.concured_ttl {
	padding: 38px 0px;
	margin: 0 30px;
}

.fa-store{
	display: inline-block;
	vertical-align: middle;
	width: 39px;
    height: 35px;
	position: relative;
	margin: 0 22px 0 0;
}

.fa-store:before {
	display: inline-block;
	vertical-align: middle;
	position: absolute;
    width: 39px;
    height: 35px;
    font-size: 35px;
}

.concured_ttl span {
	display: inline-block;
	vertical-align: middle;
	font-size: 25px;
	font-weight: bold;
	line-height: 25px;
	color: #333;
}

#list_wrap {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}

#list_wrap div>ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border-radius: 0;
}

#list_wrap div>ul li, #list_wrap .top_list div {
	color: var(--bg-dark-color);
}

.collapse show {
	display: none;
}

#list_wrap>div {
	width: 100%;
}

#list_wrap>div.bottom_list {
	margin: 50px 0 0;
}

#list_wrap .top_list div > a, #list_wrap div ul li a {
	display: block;
	font-size: 15px;
	line-height: 26px;
	word-wrap: break-word;
	text-decoration: none;
	border: none;
	/*padding: 20px 25px 15px 35px;*/
	color: #000;
	border-radius: 0;
	padding: 20px 11px 15px 35px;
    box-sizing: border-box;
    border-right: 4px solid #f6f6fb;
    width: 100%;
}
#list_wrap .top_list div#shop > a {
	padding: 20px 28px 15px 34px;
}
#list_wrap .top_list div#order > a, 
#list_wrap .top_list div#payment > a {
	padding: 20px 28px 15px 35px;
}
#list_wrap .top_list div#payment > a i.fa-caret-down {
	margin: 0 0 0 15px;
}


#list_wrap div ul li a {
	font-size: 14px;
	padding: 20px 25px 15px 55px;
	border-color: #cfe2ff;
}

#list_wrap .top_list div ul li a i {
	font-size: 21px;
	width: 22px;
	height: 20px;
}

#list_wrap .top_list div a i.fa-caret-down {
	font-size: 20px;
	width: 19px;
	margin: 0 0 0 5px;
}

#list_wrap .top_list div>a:hover, #list_wrap .top_list div>a.active,
	#list_wrap div>ul li a:hover, #list_wrap div>ul li a.active {
	background: linear-gradient(270deg, #E9E8FB 0%, rgba(113, 102, 249, 0.03)
		100%);
	color: var(--bg-blue-soft);
	border-color: var(--bg-blue-soft);
}

#list_wrap .top_list div a i, .bottom_list ul li a i {
	display: inline-block;
	vertical-align: middle;
	font-size: 26px;
	margin-right: 14px;
	width: 34px;
	height: 26px;
}

.fa-solid .fa-house {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	margin-right: 18px;
	width: 27px;
	height: 24px;
}

/* content_wrap */
#content_wrap {
	padding: 30px;
	width: calc(100% - 300px);
	margin: 0 auto;
	float: right;
	clear: both;
	margin-left: 270px;
	box-sizing: border-box;
}

.content_1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid #F6F6FB;
	padding: 0 0 10px;
	margin: 0 0 45px;
}

.content_1 .team .fa-user-secret {
	padding: 18px;
	background: var(--bg-gray-color);
	position: relative;
	border-radius: 12px;
}

.fa-user-secret:before {
	font-size: 23px;
	color: var(--bg-purple-soft);
}

.content_1 select, .dropdown-toggle {
	border: none;
	color: black;
	font-size: 20px;
	font-family: Roboto;
	font-weight: 500;
	word-wrap: break-word;
}

.fa-circle-plus {
	padding: 8px;
	background: var(--bg-gray-color);
	position: relative;
	border-radius: 12px;
}

.fa-circle-plus:before, .fa-plus-circle:before {
	font-size: 23px;
	color: var(--bg-blue-soft);
}

.fa-circle-user {
	font-size: 40px;
	display: inline-block;
	vertical-align: middle;
}

.dropdown {
	display: inline-block;
	vertical-align: middle;
}

.dropdown-toggle {
	position: relative;
}

.dropdown-toggle::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	right: 8px;
	top: 9px;
	z-index: -1;
	background: #F6F6FB;
	border-radius: 5px;
}


#group3 {
	display: grid;
	grid-template-columns: auto auto;
}

#group3>div {
	background: #EDEDF6;
	border-radius: 32px;
	padding: 30px;
	margin: 0 0 20px 0;
}

#group3>div:nth-child(2n+1) {
	margin: 0 15px 20px 0;
}

#group3>div.rectangle_2 {
	background: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
}

.rectangle_2>div {
	width: 240px;
    margin: 0 25px 25px 0;
}

.rectangle_2>div:nth-child(4n+4), 
.rectangle_2>div:last-child {
	margin: 0 0 25px 0;
}

.rectangle_2>div a {
	display: block;
	text-decoration: none;
	padding: 30px 25px 36px;
	border-radius: 32px;
	background: var(--bg-gray-color);
}

.rectangle_2>div a:hover {
	color: #ffffff;
	/* background-color: #4CD7F6;  */
	box-shadow: 2px 5px 0 0 var(--bg-purple-soft);
	background: rgb(76, 215, 246);
	background: radial-gradient(circle, rgba(76, 215, 246, 1) 3%,
		rgba(225, 124, 253, 1) 98%);
}

.rectangle_2>div a>span {
	display: block;
	width: 24px;
	height: 23px;
	font-size: 23px;
	color: var(--bg-blue-soft);
	margin: 0 0 0 25px;
}

.rectangle_2>div a:hover>span, .rectangle_2>div a:hover>div,
	.rectangle_2 a:hover>div>span {
	color: #fff;
}

.rectangle_2>div a>div {
	margin: 35px 0 0;
	color: var(--bg-dark-color);
	font-size: 32px;
	font-family: Roboto;
	font-weight: 500;
	word-wrap: break-word;
	line-height: 32px;
}

.rectangle_2 a>div>span {
	display: block;
	color: var(--bg-dark-color);
	font-size: 1.4rem;
	line-height: 1.4rem;
	margin: 10px 0 0;
}

/* rectangle_3 */
.rectangle_3 h3, .rectangle_4 h3 {
	color: black;
	font-size: 20px;
	font-family: Roboto;
	font-weight: 400;
	line-height: 20px;
	word-wrap: break-word;
	margin: 0;
	padding: 0 0 25px;
	border-bottom: 1px solid var(--border-color);
}

/* sign-in */
#sign-in, #login {
	width: auto;
	margin: 0 auto;
	justify-content: center;
}

.signin, .login {
	margin: 0 130px;
	width: 400px;
	font-size: 20px;
	line-height: 20px;
}

#login span {
	margin: 0px 0 49px !important;
}

.form-btn {
	background: var(--bg-darkgreen-color);
	color: #fff;
	font-size: 17px;
	font-family: Poppins;
	font-weight: 700;
	word-wrap: break-word;
}

.form-btn:hover {
	background: var(--bg-darkgreen-color);
}

.image {
	width: 700px;
	height: 700px;
}

.image img {
	width: 100%;
	height: 100%;
}

/* add yasuo css  */
.bg-gray {
	background-color: var(--bg-gray-color);
}

#deleteName{
	font-weight: 600;
	color: red;
}
/* logout-btn css  */
.bottom_list ul li button#logout {
	display: block;
	width: 100%;
    padding: 20px 25px 15px 35px;
    border: none;
    border-radius: 0px;
    border-right: 4px solid var(--bg-blue-soft);
    word-wrap: break-word;
     background: linear-gradient(270deg, #E9E8FB 0%, rgba(113, 102, 249, 0.03) 100%);
    color: var(--bg-blue-soft);
}


