<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Contact</title>
<!-- css -->
<link th:replace="user/layout/assets :: css" />
</head>
<body>

	<!-- header -->
	<div th:replace="user/layout/assets :: header"></div>

	<!--  hero section -->
	<div th:replace="user/layout/assets :: hero-section"></div>

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg"
		th:data-setbg="@{/client/img/breadcrumb.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>Contact Us</h2>
						<div class="breadcrumb__option">
							<a href="./index.html">Home</a> <span>Contact Us</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Contact Section Begin -->
	<section class="contact spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 text-center">
					<div class="contact__widget">
						<span class="icon_phone"></span>
						<h4>Phone</h4>
						<p>+95 9987463584</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 text-center">
					<div class="contact__widget">
						<span class="icon_pin_alt"></span>
						<h4>Address</h4>
						<p>Yangon , Myanmar</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 text-center">
					<div class="contact__widget">
						<span class="icon_clock_alt"></span>
						<h4>Open time</h4>
						<p>24 Hours</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 text-center">
					<div class="contact__widget">
						<span class="icon_mail_alt"></span>
						<h4>Email</h4>
						<p>onlineshop.mm@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Section End -->

	<!-- Map Begin -->
	<div class="map">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30552.64140712647!2d96.12934035614632!3d16.822378174160264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1949e223e196b%3A0x56fbd271f8080bb4!2sYangon!5e0!3m2!1sen!2smm!4v1701084281443!5m2!1sen!2smm"
			 height="500" style="border: 0;" allowfullscreen=""
			loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		<div class="map-inside">
			<i class="icon_pin"></i>
			<div class="inside-widget">
				<h4>Yangon</h4>
				<ul>
					<li>Phone: +95-9987463584</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Map End -->

	<!-- Contact Form Begin -->
	<div class="contact-form spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="contact__form__title">
						<h2>Get In Touch</h2>
					</div>
				</div>
			</div>
			<div class="alert alert-success" role="alert" th:text="${success}"
				th:if="${success}"></div>

			<div class="alert alert-danger" role="alert" th:text="${error}"
				th:if="${error}"></div>

			<form th:action="@{/contact/message}" method="post"
				th:object=${contact}>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<input type="text" placeholder="Your name" th:field="*{name}"
							required>
					</div>
					<div class="col-lg-6 col-md-6">
						<input type="text" placeholder="Your Email" th:field="*{email}"
							required>
					</div>
					<div class="col-lg-6 col-md-6">
						<input type="text" placeholder="PhoneNumber"
							th:field="*{phoneNumber}" required>
					</div>
					<div class="col-lg-6 col-md-6">
						<input type="text" placeholder="Subject" th:field="*{subject}"
							required>
					</div>
					<div class="col-lg-12 text-center">
						<textarea placeholder="Your message" th:field="*{message}"
							required></textarea>
						<button type="submit" class="site-btn">SEND MESSAGE</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- Contact Form End -->

	</div>



	<!-- js files  -->
	<script th:replace="user/layout/assets :: js"></script>

</body>
</html>